/*** Custom Styling ***/
/* You can change this as you'd like */

/** Tags **/
h3 {
	color: #5498CA;
}

h3 span {
	color: #7D7D7D;
	padding-right: .3em;
}

hr {
	border-color: #7D7D7D;
}


/** IDs **/


/** Classes **/
.container {
	background-color: #E6E5E8;
}

.center {
	margin-left: 15%;
}

.nav-pills a {
	background-color: transparent;
	color: #7c8183;
}

.nav-pills li.active a {
	color: #000;
	background-color: transparent;
}

.nav-pills li.active a:hover {
	color: #000;
	background-color: transparent;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}
.titan3 {
	padding-left: 3em;
	padding-top: 1em;
}

.socialBar {
	padding-top: 1.5em;
}

.socialMediaIcons {
	color: #C4C0C2;
	padding-top: .15em;
	margin: 0 .15em;
}


/** Media Queries **/